@font-face{
    font-family:'Cambria Math';
    src:url('fonts/CambriaMath.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}
/*!
 * welcome
 */
.welcome{
    background:  rgb(167, 213, 206) !important;
}
.landing{
    height: 550px;
    background: url("static/pc.png") no-repeat;

}
.landing h1{
    padding-left: 185px;
    padding-top: 125px;
}
.link-create{
    margin: 63px 0 0 143px;
    font-size: 34px;
    padding: 25px 44px;
    display: inline-block;
    text-decoration: none;
    background: rgb(42,128,116);
    -o-text-overflow: ellipsis;
    color: #fcf3f4;
    line-height: 36px;
}
.link-choose{
    font-size: 34px;
    padding: 25px 18px;
    display: inline-block;
    text-decoration: none;
    -o-text-overflow: ellipsis;
    color: black;
    line-height: 36px;
    border: 1px solid black;
    margin-left: 35px;
}

/*!
 * PopularTemplates
 */
.popular-templates{
    background: #f5f1f0 !important;
    height: 1000px;
}
/*!
 * Page All Templates
 */
.content-templates{
    height: 100%;
    padding-bottom: 50px;

}
.templates a{
    color: black !important;
    padding: 0 20px;
}
.template-link:hover{
    text-decoration: none;
    border-bottom: 2px solid rgb(42,128,116);
}
.content-templates h5{
    padding-left: 154px;
    padding-top: 33px;
    color: black;
    font-weight:bold;
}
.content-templates hr{
    margin-top: 8px;
    width: 23px;
    position: absolute;
    margin-left: 156px;
    border-top: 2px solid black;
}
ul.hor_nav {
    padding-left: 115px;
    padding-top: 62px;
    margin: 0;
}
ul.hor_nav li {
    display: inline;
    padding-left: 50px;
}
.templates-table{
    padding: 46px 143px 0 150px
}
.template{
    text-align: center;
}
.template img{
    width: 100%;
    margin-bottom: 10px;
}
.template a{
    text-decoration: none;
    font-size: 13px;
    padding: 5px;
}
