body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#app{
    background: url(static/mountains-962793_960_720.jpg) no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content{
    text-align: center;
    position: fixed;
    top: 40%;
    left: 0;
    width: 100%;
    height: 100%;
}
.content, h1, p{
    color: #ffffff;
    padding-bottom: 10px;
}
@media (max-width: 1100px){
    #app .cta {
        font-size: 14px;
    }
}

@media (max-width: 1440px){
        #app .cta {
            font-size: 16px;
        }
}

#app .cta {
    font-size: 20px;
    cursor: pointer;
    background: 0 0;
    width: initial;
    padding: 1.452vh 2.96vw;
    border-radius: 40px;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all .2s ease-in-out;
    display: inline-block;
    margin: 0;
    -webkit-animation: ctaInAnimation .3s linear forwards;
    animation: ctaInAnimation .3s linear forwards;
    box-shadow: 0 0 1px -1px #ffffff;
    text-decoration: none;
}

#app .cta:hover {
    background: rgba(227, 153, 24, 0.82);
    transition: .6s;
}