.howitwork{
    width: 100%;
    min-height: 355px;
    background-color: #e9e7e7;
    padding-top: 37px;
    position: relative;
}
.howitwork-top{
    padding-left: 157px;
}
.howitwork hr{
    width: 46px;
    position: absolute;
    border-top: 1px solid black;
}
.howitwork-top p{
    font-family: Cambria Math;
    font-size: 24px;
    padding-top: 30px;
}

.howitwork-tutorial{
    width:100%;
    text-align: center;
    padding: 26px 105px;
}
.bl-tutor{
    text-align: center;
}
.bl-tutor img{
    width: 80%;
    text-align: center;
}
.bl-tutor p{
    font-family: Cambria Math;
    font-size: 17px;
}

