@font-face{
    font-family:'Cambria Math';
    src:url('../fonts/CambriaMath.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}
/*!
 * welcome
 */
.welcome{
    background:  rgb(167, 213, 206) !important;
}
.landing{
    height: 550px;
    padding-top: 33px;
    width: 100%;
}
.landing-text{
    font-family: Cambria Math;
    padding-top: 83px;
    width: 53%;
    text-align: right;

}
.landing-text p{
    font-size: 47px;
    padding-right: 53px;
}
.btn-landing{
    padding-top: 42px;
}
.btn-landing li{
    display: inline;
    padding-left: 63px;
}
.landing-img{
    width: 47%;
}
.landing-img img{
    width: 100%;
}
.link-create{
    font-size: 34px;
    padding: 25px 44px;
    display: inline-block;
    text-decoration: none;
    background: rgb(42,128,116);
    -o-text-overflow: ellipsis;
    color: #fcf3f4;
    line-height: 36px;
}
.link-choose{
    font-size: 34px;
    padding: 25px 18px;
    display: inline-block;
    text-decoration: none;
    -o-text-overflow: ellipsis;
    color: black;
    line-height: 36px;
    border: 1px solid black;
}

/*!
 * PopularTemplates
 */
.popular-templates{
    background: #f5f1f0 !important;
    height: 1000px;
}
