.populartemplates{
    width: 100%;
    height: 730px;
    background-color:#e9e7e7;
    position: relative;
}
.populartemplates-slider{
    padding: 45px 114px 0 144px;
    width: 100%;
    text-align: center;
}
.populartemplates-slider img{
    height: 320px;
}
.block{
    display:inline-block;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.block:hover {
    cursor: url(../static/populartemplates/cur_1.cur),pointer;
    z-index: 999;
    position: relative;
    -webkit-transform: scale(1.3,1.3);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.3,1.33);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.populartemplates-top{
    padding-top: 50px;
    padding-left: 149px;
}
.populartemplates-top hr{
    width: 46px;
    position: absolute;
    border-top: 1px solid black;
}
.populartemplates-top p{
    font-family: Cambria Math;
    font-size: 23px;
    font-weight: bold;
    padding-top: 31px;
}

.populartemplates-button{
    text-align: center;
    padding-top: 124px
}

.link-choose-all{
    font-size: 25px;
    padding: 23px 79px;
    text-decoration: none;
    -o-text-overflow: ellipsis;
    color: black;
    border: 1px solid black;
}