.register-div{
  width: 758px;
  height: 524px;
  z-index: 200;
  margin: 50px auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.register-shadow{
  opacity: 0.8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.725);
  z-index: 100;
  overflow: auto;
}

.sign-in-register{
  background-color: white;
  width: 393px;
  height: 524px;
  border: 1px;
  border-color: black;
  border-style: solid;
  float: right;
}

.sign-in-sign{
  background-color: white;
  width: 393px;
  height: 524px;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.sign-in-text{
  margin-top: 30px;
  margin-left: 45px;
  width: 300px;
  height: 300px;
  text-align:center;
  font-family: Cambria Math;
  font-size: 24px;
}

.sign-in-close{
  cursor: pointer;
  width: 15px;
  height: 15px;
  float: right;
  background: url("../static/register/close.png");
  margin-right: 21px;
  margin-top: 20px;
}
.sign-in-form{
  margin-top:8px;
}

.sign-in-form-text{
  font-family: Cambria Math;
  font-size: 20px;

  border: 1px;
  border-color: black;
  border-style:solid;
  margin-top: 33px;
  width: 277px;
}
.sign-in-text-welcome{
  margin-top: 35px;
  text-align:center;
  font-family: Cambria Math;
  font-size: 14px;
}
.sign-in-box-icons{
  margin: auto;
  margin-top: 24px;
  width: 155px;
  display: flex;
  justify-content:space-around;
}
.sign-in-box-icons > img{
  cursor: pointer;
}

.sign-in-button{
  cursor: pointer;
  margin: auto;
  margin-top: 29px;
  width: 280px;
  height: 64px;
  background-color: #262525;
  text-align: center;
  font-size:24px;
  color: white;

}
.sign-in-button-text{
  height: 12px;
}

.sign-in-cover-div{
  display: inline-block;
  height: 524px;
  width: 365px;

}
.sign-in-form-remember{
  display: inline-block;
  font-size: 14px;
  font-family: Cambria Math;
}
.sign-in-form-remember a{
  margin-top: 33px;
  margin-left: 20px;
  float: right;
  color: black;
}
.sign-in-form-remember input{
  width: 20px;
}

.sign-in-cover-div-register{
  display: inline-block;
  height: 524px;
  width: 365px;
  float: right;
}

.sign-in-cover-shadow{
  background-color: rgba(93,134,128,0.66 );
  height: 456px;
  border: 1px;
  border-color: black;
  border-style: solid;
  margin-top: 35px;

}

.sign-in-cover-buttom{
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: Cambria Math;
  height: 60px;
  width: 198px;
  margin-top: 203px;
  margin-left: 104px;
  border: 1px;
  border-color: white;
  border-style: solid;
}

.sign-in-cover-buttom-top{
  height: 11px;
}
.sign-in-form-validation{
  height: 10px;
  font-size: 10px;
  font-family: Cambria Math;
  color: red;
}
